!!! Strict

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= "#{page.title} | Oxente Rails 2010"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "author", :content => "Participe.de - Tink!" }
    %meta{ :name => "description", :content => "Oxente Rails 2010" }
    %meta{ :name => "keywords", :content => "Oxente Rails 2010" }
    - %w(reset text 960 style sifr jquery.fancybox-1.3.1).each do |css_file|
      = css_tag("#{css_file}.css")
    - %w(sifr sifr-config).each do |js|
      = script_tag("#{js}.js")
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" }
    
    - if variable(:external_javascripts)
      - variable(:external_javascripts).split(' ').each do |js|
        %script{ :src => js, :type => 'text/javascript'}
  %body
    #header
      .container_12
        #banner.grid_8.prefix_2      
          %a{ :href => "/"}
            %img{:src => "../images/bg/en/bg-banner.jpg", :alt => "Oxente Rails 2010"}
      
    #menu
      .container_12
        .grid_12
          %ul#menubar-en
            - site.posts.each do |post|
              - if post.categories.include?("en")
                %li{:class => "#{'current' if (page.title == post.title)}"}
                  %a{ :href => post.url}= post.title

    #conteudo
      %hr.content
      %div{:class => "container_12 #{layout_type}"}
        #content.content_12
          .grid_9.alpha
            - if layout_type == 'internal_page'
              %h2= page.title
            = content
          #sponsors.grid_3.omega
            #patrocinio
              %h5.tarja Sponsors
              %h6 Gold
              #gold.patrocinio
                %a{ :href => "http://www.locaweb.com.br/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/locaweb.jpg", :alt => "Locaweb", :title => "Locaweb", :width => "120px:"}
                %a{ :href => "http://www.sebrae.com.br/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/sebrae.png", :alt => "SEBRAE", :title => "SEBRAE", :width => "100px:"}
              %h6 Silver
              #silver.patrocinio
                %a{ :href => "http://www.plataformatec.com.br/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/plataforma.jpg", :alt => "Plataforma - Tecnologia e Engenharia de Software", :title => "Plataforma - Tecnologia e Engenharia de Software", :width => "120px:", :style => "background-color:black;"}
                %a{ :href => "http://www.hashrocket.com/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/hashrocket.jpg", :alt => "Hashrocket - Expertly Crafted Web", :title => "Hashrocket - Expertly Crafted Web", :width => "120px:", :style => "background-color:black;"}
                %a{ :href => "http://caelum.com.br/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/caelum.png", :alt => "Caelum", :title => "Caelum", :width => "120px:", :style => "background-color:white;"}
                %a{ :href => "http://rubycentral.org/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/rubycentral.png", :alt => "Ruby Central", :title => "Ruby Central", :width => "100px:", :style => "background-color:white; padding: 7px;"}
              %h6 Bronze
              #bronze.patrocinio
                %a{ :href => "http://www.peepcode.com/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/peepcode.jpg", :alt => "Peepcode Screencasts", :title => "Peepcode Screencasts", :width => "120px:", :style => "background-color:black;"}
                %a{ :href => "http://webhall.com.br/", :target => "blank"}
                  %img{ :src => "../images/sponsors/webhall2.jpg", :alt => "webhall - Tecnologia da Informação", :title => "webhall - Tecnologia da Informação", :height => "75px:"}
                %a{ :href => "http://apress.com/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/apress.gif", :alt => "Apress - The Experts Voice", :title => "Apress - The Experts Voice", :height => "60px"}
                %a{ :href => "http://tec-softinformatica.com.br/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/tecsoft.png", :alt => "Tec-Soft Informática", :title => "Tec-Soft informática", :height => "60px"}
                %a{ :href => "http://couch.io/", :target => "_blank"}
                  %img{ :src => "../images/sponsors/couchio.png", :alt => "Couchio", :title => "Couchio", :width => "120px"}
        .clear
    #footer
      %hr.content
      .container_12
        #credenciais.grid_3.alpha
          %p
            %a(href="/")
              %strong oxenterails.com
            %br
              &copy; 2010 tink! It's all about IT  
        #promocao.grid_2.prefix_1
          %h6 PROMOTION
          %a{:href => "http://www.assespro.org.br/", :target => "_blank"}
            %img{:src => "../images/sponsors/assespro.jpg", :alt => "Assespro", :title => "Assespro", :height => "45"}
        #realizacao.grid_2
          %h6 EXECUTION
          %a{:href => "http://tink.com.br/", :target => "_blank"}
            %img{:src => "../images/sponsors/tink.jpg", :alt => "tink! it's is all about IT", :title => "tink! it's is all about IT", :height => "45"}
        #organizacao.grid_2
          %h6 ORGANIZATION
          %a{:href => "http://maisweb.org/", :target => "_blank"}
            %img{:src => "../images/sponsors/maisweb.gif", :alt => "+web - Fazendo melhor.", :title => "+web - Fazendo melhor.", :height => "55"}
        .grid_2.omega    
          %a(href="/" title="Oxente Rails 2010")
            %img{ :src => "../images/bg/logo-footer.jpg", :title => "Oxente Rails 2010"}
      .clear
      .container_12
        #media-partner.grid_8.prefix_3
          %h6 MEDIA PARTNERS
          %a(href="http://www.guj.com.br" title="GUJ" target='_blank')
            %img{ :src => "../images/sponsors/guj.png", :title => "GUJ"}
          %a(href="http://www.infoq.com/br/" title="InfoQ" target='_blank')
            %img{ :src => "../images/sponsors/infoq.jpg", :title => "InfoQ"}
          %a(href="http://www.informaticaemrevista.com.br/" title="Informática em Revista" target='_blank')
            %img{ :src => "../images/sponsors/informaticaemrevista.png", :title => "Informática em Revista"}
          %a(href="http://www.rubyinside.com.br/" title="Ruby Inside BR" target='_blank')
            %img{ :src => "../images/sponsors/ruby-inside.gif", :title => "Ruby Inside BR"}


    - %w(jquery.validate localization/messages_ptbr).each do |js_file|
      = script_tag("#{js_file}.js")
    - if variable(:javascript)
      %script{:type => 'text/javascript'}
        = variable(:javascript)
    - if variable(:javascript_imports)
      - variable(:javascript_imports).split(' ').each do |js|
        %script{ :src => "/js/#{js}.js", :type => 'text/javascript'}
    - unless layout_type == 'internal_page'
      - %w(jquery.cycle.lite theme).each do |js_file|
        = script_tag("#{js_file}.js")
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-8460229-1");
        pageTracker._trackPageview();
      }
      catch(err) {}
    #translate
      %a{ :href => "/"}
        %img{ :src => "../images/bg/l_pt.png"}
